PORT=3000

REPO_PATH=/data/n8n-cicd-workflows
GIT_REMOTE=origin

ALLOWED_BRANCH_REGEX=^workflow/[A-Za-z0-9_-]+$

N8N_API_BASE_URL=https://192.168.88.82:8443/api/v1
N8N_API_KEY=<n8n APIKEY>
N8N_ALLOW_SELF_SIGNED_TLS=true

CORS_ORIGIN=https://192.168.56.52:8080
SESSION_COOKIE_SECRET=<32 char random string>
SESSION_COOKIE_SECURE=true
SESSION_TTL_SECONDS=28800

AUTH_MODE=keycloak

APP_PUBLIC_URL=https://192.168.56.52:8080
OIDC_ISSUER_URL=<OIDC ISSUER>

OIDC_CLIENT_ID=n8n-creds
OIDC_CLIENT_SECRET=<OIDC SECRET>

OIDC_AUDIENCE=n8n-creds

